<!-- Footer Start -->
<div class="container-fluid bg-white footer pt-4 mt-5">
    <div class="container py-4">
        <div class="pt-4 mt-4" style="border-top: 1px solid #dee2e6;">
            <div class="row g-4 align-items-center">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="mb-0" style="color: #3d4a52;">TechGearShop</h1>
                    </a>
                </div>
                <div class="col-lg-6">
                    <div class="position-relative mx-auto">
                        <input class="form-control border-0 w-100 py-3 px-4 rounded-pill" type="text" placeholder="Nhập email của bạn" style="background-color: #f8f9fa; color: #3d4a52;">
                        <button type="submit" class="border-0 py-3 px-4 position-absolute rounded-pill text-white" style="top: 0; right: 0; background-color: #3d4a52;">Tìm kiếm</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex justify-content-end">
                        <a class="btn me-2 btn-md-square rounded-circle" href="" style="border: 2px solid #3d4a52; color: #3d4a52;"><i class="fab fa-twitter"></i></a>
                        <a class="btn me-2 btn-md-square rounded-circle" href="" style="border: 2px solid #3d4a52; color: #3d4a52;"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn me-2 btn-md-square rounded-circle" href="" style="border: 2px solid #3d4a52; color: #3d4a52;"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-md-square rounded-circle" href="" style="border: 2px solid #3d4a52; color: #3d4a52;"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->