@model IEnumerable<EcommerceMVC.ViewModels.MenuLoaiVM>

@foreach (var item in Model)
{
    <li>
        <a class="dropdown-item filter-link" href="javascript:void(0)" data-loai="@item.MaLoai">
            <i class="fas fa-tag me-2"></i>@item.TenLoai
            <span class="badge bg-secondary ms-2">@item.SoLuong</span>
        </a>
    </li>
}